In [30]:
import pandas as pd

In [37]:
df = pd.read_csv('forest 2.csv')

In [39]:
df

      age  income  gender m_status buys
0     <25    high    male   single  yes
1      45    high  female  married  yes
2      30     low  female   single  yes
3   30-40  medium  female   single   no
4     >22  medium  female   single  yes
5     <26     low    male  married  yes
6   30-35     low  female  married   no
7      44    high  female   single   no
8      41    high  female   single  yes
9      31    high    male   single  yes
10    >30     low    male   single  yes
11    >20  medium  female   single  yes
12  20-35  medium  female  married   no

In [40]:
x = df.iloc[:,:-1]

In [41]:
x

      age  income  gender m_status
0     <25    high    male   single
1      45    high  female  married
2      30     low  female   single
3   30-40  medium  female   single
4     >22  medium  female   single
5     <26     low    male  married
6   30-35     low  female  married
7      44    high  female   single
8      41    high  female   single
9      31    high    male   single
10    >30     low    male   single
11    >20  medium  female   single
12  20-35  medium  female  married

In [42]:
y = df.iloc[:,4]

In [43]:
y

0     yes
1     yes
2     yes
3      no
4     yes
5     yes
6      no
7      no
8     yes
9     yes
10    yes
11    yes
12     no
Name: buys, dtype: object

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
label = LabelEncoder()

In [69]:
x = x.apply(label.fit_transform)

In [47]:
x

    age  income  gender  m_status
0     8       0       1         1
1     7       0       0         0
2     1       1       0         1
3     3       2       0         1
4    11       2       0         1
5     9       1       1         0
6     2       1       0         0
7     6       0       0         1
8     5       0       0         1
9     4       0       1         1
10   12       1       1         1
11   10       2       0         1
12    0       2       0         0

In [57]:
from sklearn.tree import DecisionTreeClassifier

In [58]:
import numpy as np

In [59]:
mod = DecisionTreeClassifier()

In [77]:
mod.fit(x.iloc[:,0:4],y)

DecisionTreeClassifier()

In [80]:
x_input = np.array([0,2,0,0])

In [82]:
prediction = mod.predict(x_input)

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 0. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.